*{
    margin: 0;
}
.service-data{
    display: flex;
    text-align: center;
    margin-left: 25%;
    gap: 100px;
}
.service-data h1{
    padding: 10px;
    font-size: 16px;
}
.service-table-data {
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
.add-department-btn{
  background-color: #007bff;
}
  .service-table-data button:hover{
    color: white;
  }
  .table td{
    font-size: 12px;
  }

  /************edit form****************/
  .edit-form{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  .edit-form button{
    background-color: #007bff;
  }
  .edit-form .cancel-btn{
    background-color: rgb(196, 18, 18);
  }
