.add-overlay {
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 68, 68, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
.add-new-user-btn{
  position: absolute;
  right: 0;
  background-color: rgb(46, 111, 197);
}
.add-new-user-btn:hover{
  background-color: rgb(125, 170, 228);
  color: white;
}
  .user-table{
   width: 90%;
  }

  /***responsiviness*********/

  @media (min-width: 601px) and (max-width: 800px) {

    .view-items {
      width:790px; /* Full width on small screens **/
   
      margin-left: -8rem; 
      margin-top: -7%;
    
    }
  }
  
@media (min-width: 300px) and (max-width: 600px) {

  .view-items {
    width:620px; /* Full width on small screens **/
 
    margin-left: -1rem; 
    margin-top: -7%;
  
  }
}