/* General Form Styles */
body{
    background-color: #f7f7f9;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.login {
    background: white;
    backdrop-filter: blur(10px);
    padding: 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 400px;
    text-align: center;
    
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #5d53f1;
}

/* Container for the input fields */
.input-container {
    margin-bottom:15px; /* Space between inputs */

}

.overlay-container{
    display: flex;
    gap: 10px;
    background-color: #07a8e7;
    border-radius: 5px;
    padding: 20px;
}
.overlay-left h2{
font-weight: 600;
margin-bottom: 20px;
color: white;
}
.overlay-left p{
    color: rgb(41, 40, 40);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.overlay-right img{
    width: 100%;
}
/* Input field styling */
.login input[type='password'],
[type='email']{
    width: 70%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #6c6c6d;
    border-top: none;
    border-left: none;
    border-right: none;
  /* Light background */
}

/* Change border color on focus */
.input-field:focus {
    border-color: #a0a0ff; /* Border color on focus */
    outline: none; /* Remove default outline */
}

/* Label styling */
.input-label {
    margin-bottom: 2px; /* Space between label and input */
    font-size: 14px; /* Font size for labels */
    color: #a0a0ff; /* Label color */
    
}

/* Error message styling */
.error {
    color: red; /* Red color for error messages */
    font-size: 12px; /* Font size for error messages */
}
/* Password Toggle */
.password-view-login {
    position: absolute;
    top: 74.6%;
    right: 15%; /* Adjust to position inside input */
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
    background-color: #89acf7;
    padding: 9px;
    border-radius: 15px;
}

/* Adjust Eye icon when error message is displayed */
.password-view-login-error {
    top: calc(71.2% + 10px); /* Move down slightly when error is shown */
  }
/* .password-lock-icon {
    position: absolute;
    top: 74.5%;
    left: 15%;
    transform: translateY(-50%);
    color:white;
    padding: 9px;
    border-radius: 30px;
    background-color: #6c6c6d;
  } */
.password-lock-icon-error{
    top: calc(71.2% + 10px); /* Move down slightly when error is shown */
    }
/* .password-email-icon {
    position: absolute;
    top: 63%;
    left: 15%;
    transform: translateY(-50%);
    color:white;
    padding: 9px;
    border-radius: 30px;
    background-color: #6c6c6d;    
} */
.password-email-icon-error{
  top: calc(57.7% + 10px); /* Move down slightly when error is shown */
  }
.login-btn-section button{
    text-align: center;

}
.input-container a{
    color: rgb(141, 14, 245);
    text-decoration: none;
}
/* Button */
.login-btn {
    width: 40%;
    padding: 12px;
    background: #07a8e7;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
 
    transition: 0.3s;
}

.login-btn:hover {
    background: #1fc0ff;
}


a:hover {
    text-decoration: underline;
}

p span {
    color: #ff4b2b;
    cursor: pointer;
    font-weight: bold;
}

p span:hover {
    text-decoration: underline;
}


/* responsiveness login form to smartphone device */
@media (min-width: 300px) and (max-width: 600px) {
    .form-container {
      padding: 25px;
       
    }
   .login h1 {
        font-size: 16px;

    }
    /* Input field styling */
.login input[type='password'],
[type='email']{
    width: 80%; 
    border-radius: 0px;
    padding-left: 2px;
    border-top:none;
    border-left: none;
    border-right: none;
}

    .password-view-login {
        top: 70.9%;
        right: 15%; /* Adjust to position inside input */
        transform: translateY(-50%);
      
    }
/* Adjust Eye icon when error message is displayed */
.password-view-login-error {
    top: calc(67% + 10px); /* Move down slightly when error is shown */
  }
.password-lock-icon ,.password-email-icon {
    display: none;

  }
  .overlay-right img{
    width: 100px;
}
.overlay-left h2{
    font-weight: 400;
   font-size: 18.px;
    }
    .overlay-left p{
        color: rgb(41, 40, 40);
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 12px;
    }
    .login-btn-section p{
        font-size: 12px;
    }
    .login-btn-section button{
        padding: 5px;
    }
    .input-container p{
        font-size: 13px;
        margin-top: 10px;
    }
  }
