.register-user-form{
    background-color:#f7f7f9;  
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
}
.register-form {
    background-color:  white;
    padding: 0px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.overlay-signup-container{
    display: flex;
    gap: 10px;
    background-color: #07a8e7;
    border-radius: 5px;
    padding: 20px;
}
.overlay-signup-container img{
    width: 100px;
    height: 100px;
}
.form-register-columns select{
    width: 330px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #6c6c6d;
    padding: 9px;
    padding-left: 0px; /* Inner spacing */
    border: 1px solid #d6d6d6; /* Border color */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    transition: border-color 0.3s; /* Transition effect */
    background-color: rgba(255, 255, 255, 0.8);
}
.register-form h1{
 text-align: center;
}
.registration-btn{
  width: 100%;
  text-align: center;
  font-size: 15px;
}
.register-btn{
    background-color:#07a8e7;
    font-size: 15px;
}
.form-register-columns {
    display: flex;
    gap: 100px;
    padding: 20px;
   
  }

.password-view-signup{
    position: absolute;
    top: 92.2%;
    right: 54.5%;
    background-color: #07a8e7;
    padding: 5px;
    border-radius: 10px;
}