.fuel-request-page{
  background-color: white;
  padding: 10px;
}
.fuel-form-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
   rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  font-family: Arial, sans-serif;
}

.fuel-form-container h3 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}
.fuel-form-container hr{
  margin-bottom: 40px;
}
.fuel-form {
  display: flex;
  flex-direction: column;
}

.form-columns {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.form-column {
  width: 40%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 80px;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.form-actions button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-actions button:hover {
  background: #0056b3;
}
.fuel-request-links{
  background-color:white;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1%;
}
.fuel-request-links button{
  margin-left: 5rem;
  font-size:14px;
  background-color: white;
  color: black;
}
/* Responsive Design */

@media (min-width: 600px) and (max-width: 800px) {
  /* CSS  here */
  .fuel-request-links button{
    margin-left: 1rem;
    font-size: 12px;
 
  }
}
@media (min-width: 300px) and (max-width: 600px) {
  /* CSS rules here */
  .form-columns {
    flex-direction: column;
    gap: 0;
}

.form-column {
    width: 100%;
}
.form-group label {
  margin-bottom: 2px;
}
.fuel-request-links button{
  margin-left: 0rem;
  font-size: 12px;

}
}
